
.border-info{
    background-color: #404040 !important;
    border-color: #365C9A !important ;
}
.text-info{
    color: #365C9A !important ;
}
.border-danger{
    background-color: #FFFFFF !important;
    border-color: #808080 !important ;
}
.font_info_card{
    display:  block ;
    font-family: 'Roboto Slab', serif;
    font-weight: 800 ;
    white-space: pre-line ;
    font-weight: 800 ;
}
.font_info_card_num{
    display:  block ;
    /*font-weight: 200 ;*/
    font-size: 70px;
}
.linha_separadora{
    display: block;
    margin: auto;
    content: "";
    width: 100%;
    height: 3px;
    margin-left: 0px;
    background: #808080;
    border-radius: 5px;
}

.sombra-cartao{
    box-shadow: 0px 1px 15px #404040;
}


@media only screen and (max-width: 1200px) {
    .font_info_card{
        font-size: 19px;
    }
    .font_info_card_num{
        font-size: 30px;
    }
}
@media only screen and (max-width: 959px) {
    .font_info_card{
        font-size: 18px;
    }
    .font_info_card_num{
        font-size: 25px;
    }
}
@media only screen and (max-width: 857px) {
    .font_info_card{
        font-size: 16px;
    }
    .font_info_card_num{
        font-size: 26px;
    }
}
@media only screen and (max-width: 767px) {
    .font_info_card{
        font-size: 25px;
    }
    .font_info_card_num{
        font-size: 35px;
    }
}
@media only screen and (max-width: 605px) {
    .font_info_card{
        font-size: 20px;
    }
    .font_info_card_num{
        font-size: 30px;
    }
}
@media only screen and (max-width: 479px) {
    .font_info_card{
        font-size: 15px;
    }
    .font_info_card_num{
        font-size: 23px;
    }
}
@media only screen and (max-width: 379px) {
    .font_info_card{
        font-size: 13px;
    }
    .font_info_card_num{
        font-size: 20px;
    }
}
@media only screen and (max-width: 335px) {
    .font_info_card{
        font-size: 11px;
    }
    .font_info_card_num{
        font-size: 17px;
    }
    .p-3{
     padding: 17px !important ;
    }
}