/*----------------------------------   Layout   -----------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/* Geral */
html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0 auto;
    margin-top: 48px !important;
    overflow-x: hidden;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:hover {
    text-decoration: none;
}

section{
    width: 100%;
}

.carousel-vertical-center{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.cinza{
    background-color: #ececec;
    border-top: 1px solid rgb(199, 199, 199) ;
    border-bottom: 1px solid rgb(199, 199, 199) ;
    width: 100%;
}


/* Barra de Navegação */
.navbar{
    box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.277);
    background-color: white;
}

.img-logo{
    margin-left: 15%;
    height: 45px;
}

.nav-link{
    color:#3a3a3a;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    white-space: nowrap;
    transition: color 0.15s ease 0s;
    text-align: center;
}

.nav-link:hover, .link_ativo {
    color:#EE3B24 !important;
}

.link_ativo:hover{
    color:red !important;
}
  
.custom-toggler.navbar-toggler {
    border-color: #00172f;
    border-radius: 7px;
}

/* Seção Capa */
#secaoCapa{
    height: 750px;
}

.img-carousel{
    height:750px;
    object-fit: cover;
    opacity: 0.75;
}

/* Seção sobre */
.nav-tabs .nav-item .nav-link{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.nav-tabs {
    border-bottom: 1px solid #EE3B24;
    margin-top: 30px;
}

/* .nav-tabs .nav-item .nav-link:hover{
    margin-top: 1px;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
} */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-left-color: #EE3B24;
    border-right-color: #EE3B24;
    border-top-color: #EE3B24;
}

.tab-pane .img-responsive{
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
}

.sobre_pilares{
    padding: 15px;
}

.sobre_pilares img{
    margin: 20px;
    margin-left: 45%;
    height: 40px;
}

/* Serviços */
.containerServicos{
    padding: 35px;
}

.containerServicos img{
    height: 50px;
    margin: 20px;
}

.botaoEstilizado{
    position: relative;
    box-sizing: border-box;
    padding: 7px 15px;
    border: 1px solid transparent;
    background-color: #ee3b24;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.15s linear 0s;
}

.botaoEstilizado:hover{
    background-color: rgb(202, 28, 5);
    color: white;
    text-decoration: none;
}

/* Portifólio */

#container_portifolio{
    height:70%;
}

#container_portifolio .nav-tabs{
    border: none;
    width: 30;
    /* margin-left: 40%; */
    margin-bottom: 20px;
}

#container_portifolio .itemPortifolio .nav-link{
    background-color: rgba(238, 59, 36, 0.5);
    border-radius: 0px;
}

#container_portifolio .itemPortifolio .nav-link.active {
    background-color: #EE3B24;
    border-radius: 0px;
}

.imgPortifolio{
    vertical-align: middle;
    width: 400px;
    height: 300px;
}

.nav{
    display:inline-flex;
}


/* Blog */

#tituloBlog{
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_noticiasRecentes{
    padding: 10px;
}

.container_noticiasRecentes img{
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}

.acessarBlog{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Contato */


#container_contato{
    padding-top: 20px;
}

#container_FormularioContato{
    padding-left: 20px;
}

.contato_input{
    padding: 7px;
    border: 0.7px solid rgba(238, 59, 36, 0.432);
    width: 100%;
    border-radius: 3px;
    transition: outline 0.07s linear 0s;
}

.contato_input:focus{
    outline: #EE3B24 2px solid;
    border-radius: 0px;
}

/*Botão Rolagem*/
#rolarInicio{
    position: fixed;
    bottom: 15px;
    right: -100%;
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 50%;
    border:1px solid rgba(238, 59, 36, 0.562);
    background-color: #EE3B24;
    opacity: 0.7;
    transition: opacity 0.15s linear 0s;
}

#rolarInicio:hover{
    border:1px solid rgba(238, 59, 36, 0.562);
    opacity: 1;
}

#rolarInicio img{
    width: 80%;
}

/*----------------------------------   Tipografia   -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.titulosCapa{
    font-weight: 900;
    font-size: 65px;
    text-shadow: 2px 2px 3px #3a3a3a;
    letter-spacing: 2px;
    color:#EE3B24;
}

.subtituloCapa{
    font-weight: 700;
    /* color:#00172f; */
    text-shadow: 2px 2px 3px #3a3a3a;

}

.tituloSecoes{
    position:relative;
    text-align: center;
    color:#EE3B24;
    margin-top: 20px;
    font-weight: 700;
}

/* .tituloSecoes:before{
    position:absolute;
    left: 45%;
    width: 95px;
    height: 5px;
    content: "";
    display: inline-block;
    top: 55px;
    background-color: #EE3B24;
} */

.linha{
    display: block;
    margin: auto;
    content: "";
    width: 80px;
    height: 5px;
    background: #EE3B24;
}

.subtituloSecoes{
    position: relative;
    top:-5px;
    font-size: 17px;
    text-align: center;
}

#tituloSecoes_Servicos:before{
    top: 80px;
}

.nav-tabs .nav-item .active{
    color: #EE3B24;
}

.tab-pane p{
    text-align: justify;
}

.tab-pane h5{
    font-weight: 800;
}

.sobre_pilares h2{
    text-align: center;
    position:relative;
    color:#EE3B24;
    margin-top: 20px;    
    font-size: 40px;
}

.sobre_pilares p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #6a6a6a;
}

.link_externo, .link_externo:visited, .link_externo:hover{
    font-size: 15px;
    font-weight: 600;
    color:#EE3B24;
    text-decoration: underline;
}

.linksServicos{
    color:black;
    display: block;
    text-align: center;
}

.linksServicos:hover{
    color:black;
}

.linksServicos h5{
    font-weight: 600;
}

.contato_label{
    color: #00172f;
    font-weight: 600;
}

.portifolioProjeto h2{
    color:#00172f;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}


.container_noticiasRecentes h2 {
    margin: 10px;
    text-align-last: center;
    color:#032850;
    font-weight: 700;
}

.container_noticiasRecentes p {
    padding-top: 10px;
    text-align: justify;
}