/*----------------------------------   Layout   -----------------------------------------------*/

footer{
    background-color: black !important;
}

/*-- Menu --*/

.item_menu_rodape{
    margin-top: 5pt;
    color: white!important;
    display: block;
    cursor: pointer;
}

.item_menu_rodape:hover{
    color: #365C9A!important;
    transition: 0.15s linear;
}

.coluna_menu{
    /* margin-left: 20pt; */
}

/*-- Funcionamento --*/

.pre_item_funcionamento{
    color: white;
    margin-bottom: 15pt;
}

.item_funcionamento {
    margin-top: 6pt;
    color: white;
    margin-right: 40pt;
}

/*-- Tags Principais --*/

.tags{
    /* padding: 5px; */
    color: white;
    /* background-color: #2C2C2C ; */
    border-radius: 10pt;
    /* font-size: 12px; */
}

.tags:hover{
    color: #365C9A;
    transition: 0.15s linear ;
    cursor: pointer;
}

/*-- Parte Direitos --*/

#texto_direitos{
    color: whitesmoke;
}

#logo{
    max-width:140px;
    max-height:90px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

/*---------------------------------------------------------------------------------------------*/

/*----------------------------------   Tipografia   -------------------------------------------*/

/*-- Títulos --*/

.titulos_rodape{
    color: #365C9A;
    /* font-size: 12px ; */
    font-weight: 500;
    text-align: center;
    border-bottom: 1pt solid #bac3ca;
    margin-bottom: 25pt;
}

/*-- Menu --*/

.item_menu_rodape{
    /* font-size: 16pt; */
    /* text-align: center; */
    cursor: pointer;
    margin: 0;
}

li{
    list-style-type: none;
}

/*-- Funcionamento --*/

.pre_item_funcionamento{
    /* font-size: 14pt; */
    font-weight: bold;
}

.item_funcionamento {
    /* font-size: 13pt; */
    text-align: initial;
}

/*-- Tags Principais --*/

.tags{
    /* font-size: 12pt; */
    display: inline-block;
    text-align: center;
    text-decoration: underline;
}

/*-- Parte Direitos --*/

#texto_direitos{
    /* font-size: 12pt; */
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------*/