/*----------------------------------   Layout   -----------------------------------------------*/

#rodape{
    background-color: black !important;
    color: white;
}

/*-- Títulos --*/

.titulos_rodape{
    color: #365C9A;
    border-bottom: 1pt solid #bac3ca;
}

/*-- Menu --*/

.item_menu_rodape{
    margin-top: 5pt;
    /* color:black!important; modificar para rgb(255, 255, 255) */
    cursor: pointer;
}

.item_menu_rodape:hover{
    color: #365C9A!important;
    transition: 0.15s linear;
}

/*-- Funcionamento --*/

.pre_item_funcionamento{
    /* color:black;modificar para rgb(255, 255, 255) */
}

.item_funcionamento {
    margin-top: 6pt;
    /* color:black; /*modificar para rgb(255, 255, 255) */
}

/*-- Tags Principais --*/

.tags{
    margin-top: 10px ;
    margin-left: 5px ;
    float: left;
    padding: 3px 10px;
    color: #9E9E9E ;
    background-color: #2C2C2C ;
    border-radius: 10px ;
    cursor: pointer;
}

.tags:hover{
    color: black ;
    background-color: #365C9A;
    transition: 0.15s linear ;
}

/*-- Parte Direitos --*/


/*---------------------------------------------------------------------------------------------*/

/*----------------------------------   Tipografia   -------------------------------------------*/

/*-- Títulos --*/

.titulos_rodape{
    font-size: 16pt ;
    font-weight: 500;
    text-align: center;
}

/*-- Menu --*/

.item_menu_rodape{
    font-size: 10pt;
    text-align: justify;
    cursor: pointer;
}

li{
    list-style-type: none;
}

/*-- Funcionamento --*/

.pre_item_funcionamento{
    font-size: 12pt;
    font-weight: bold;
}

.item_funcionamento {
    font-size: 10pt;
    text-align: justify;
}

/*-- Tags Principais --*/

.tags{
    font-size: 10pt;
}

/*-- Parte Direitos --*/

#texto_direitos{
    font-size: 8pt;
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------*/