/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/

#bg{
    height:130px;
}

#logo_Menu{
    height:105px;
    margin:5px;
}

.img_pequena{
    height: 60px !important;
    margin: 5px !important;
}

.navbar-toggler{
    margin-right: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;;
}
.textomenu{
    text-align:center;
    font-size: 15px;
    line-height: 25px;
    padding-top: 50px;  
}

#texto_inf{
    text-align:justify;
    font-size: 15px;
    font-weight: 800;
    line-height: 25px;
    padding-top: 50px; 
    margin-left: 130px;
}

.textomenu1{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    padding-top: 2px; 
    margin-left: 15px;

}

.sticky{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar, #bg {
    background-color:#365C9A;
    color:white;
}

.nav-link{
    color:white;
    font-size: 20px;
    text-align:center;
    margin-left: 15px;
    margin-right: 15px;
    transition: color 0.15s ease 0s;
}

.nav-link:hover {
    color:lightgray;
}

.link_ativo{
    color:lightgray;
    text-shadow: 1px 1px 1px black;
}

.social_icone{
    width:30px;
    height:30px;
    margin:10px;
    text-align:center;
}

#navbarTMF{
    box-shadow: 0 1px 7px #404040;
}


/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/
