/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/

#logo{
    width:150;
    height:150px;
}

.textomenu{
    text-align:center;
    font-size: 15px;
    line-height: 25px;
    padding-top: 50px;    
}
.sticky{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar, #bg {
    background-color:#365C9A;
    color:white;
}

#bg{
    height:130px;
}
.nav-link{
    color:white;
    font-size: 20px;
    text-align:center;
}
.nav-link:hover {
    color:lightgray;
}

.social_icone{
    width:30px;
    height:30px;
    margin:10px;
    text-align:center;
}




/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/
