/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/
body{
    overflow-x: hidden;
}

#_FILES{
    position: fixed !important;
}

.container-titulos{
    padding: 15px;
}

.imagem{
    max-width:160px;
    max-height:110px;
    width: auto;
    height: auto;
}

.tema{
    background-color: #162740;
}

.centro-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Produtos */

.cardProdutos{
    padding:5px;
    height:auto;
    position: relative;
}

.containerProduto{
    height:100%;
    position: relative;
}

.cardProdutosImgContainer{
    box-sizing:border-box;
    border:2px solid #FFFFFF;
    border-bottom: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    border-radius: .5rem .5rem 0 0;
    height:80%;
    padding:10px;
    position: static;
}

.cardProdutosImgContainer img{
    width:250px;
    z-index: -1!important;
    height:200px;
}

.cardProdutosDescricao{
    box-sizing: inherit;
    background-color: #FFFFFF;
    border:2px solid #FFFFFF;
    border-radius: 0 0 .5rem .5rem;
    height:20%;
    transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
}

#cardProdutosVerMais{
    border-radius: .5rem .5rem 0 0;
}

#cardProdutosVerMaisDescricao{
    background-color: #FFFFFF;
    border-radius: 0 0 .5rem .5rem;
}

.descricaoProduto{
    opacity: 0;
    position: absolute;
    border-radius: 0 0 .5rem .5rem;
    bottom: 0;
    height: 85%;
    width: 100%;
    z-index: 3!important;
    margin-top: -85%;
    background-color: #FFFFFFC0;
    color: #000000;
}

.nomeProduto{
    margin-top:7px;
    display:inline-block;
    color: #FFFFFF;

}
/* .card{
    height:300px;
    width:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
}
.wrap
{
  margin:50px auto 0 auto; 
  width:300px;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:300px;
  height:300px;
  margin:8px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family: Verdana4;
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; 
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; 
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; 
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
  background-color: rgba(54, 92, 154, 0.938);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
    }
}

.img_prod
{
    height:200px;
    width: 200px;
    border: 2px solid #365C9A;
}
#con_prod{
    height:60px;
    border: 2px solid #365C9A;
    text-align: center;
} */

/* Portfólio */

.imagem_port_frente{
    /* width: 400px; */
    height: 400px;
    object-fit: contain;
}

.imagem_port_fundo{
    /* object-fit: cover;
    background-repeat: no-repeat;  
    background-size: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.imagem_port_fundo::before{
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    
    filter        : blur(7px);
    -moz-filter   : blur(7px);
    -webkit-filter: blur(7px);
    -o-filter     : blur(7px);
}


#div_button_port{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.btn_port{
    margin: 5px;
    background-color: #365C9A;
    height: 25px !important;
    width: 25px !important;
    border-radius: 100% !important;
    padding: 0% !important;
}
.btn.btn-primary{
    background-color: #365C9A !important ;
    border-color: #365C9A !important ; 
    margin: 0px !important ;
}
.btn.btn-primary:hover{
    background-color: rgba(54, 92, 154, 0.822) !important ;
    border-color: rgba(54, 92, 154, 0.822) !important ; 
}
.img_btn_port{
    max-width:11px;
    max-height:11px;
    border-radius: 100%;
    margin-bottom: 18%;
    margin-left: auto;
    margin-right: auto;
}

/* Caso fundo seja claro, remover comentário destas linhas. Torna indicatores escuros. */

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.carousel-indicators .active{
    background-color: #000 !important;
} */

.carousel-caption {
    color: #fff !important;
    /* text-shadow: 1px 1px #ffffff; */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

/* Contato */
.icone-contatenos{
    height: 50px;
    /* width: 13%; */
    float: left;
}
.icone-contatenos img{
    height: 80%;
    /* margin: 10% auto; */
}

#icone-whatsapp{
    width: 20px;
    margin: 0 10px 0 10px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}

.info-contatenos{
    /* display: table-cell; */
    vertical-align: middle;
    /* padding-left: 6px; */
    height: 50px;
    /* width: 86%; */
    /* float: left; */
}

.info-contatenos a, .info-contatenos a:hover, .info-contatenos a:active, .info-contatenos a:visited{
    color: #FFFFFF;
    text-decoration: underline;
}

#mande_mensagem{
    /* border-left: 1px solid #365C9A; */
    /* box-shadow: -2px 0px rgba(54, 92, 154, 0.151); */
}

@media(max-width: 992px){
    #mande_mensagem{
        border-left: none;
        box-shadow: none;
    }
}

.info-contatenos #infemail{
    margin-top: 9px;
}

.inpForm{
    width: 100%;
    padding: 5px;
    border: none;
    border: 2px solid #365C9A;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.25s ease 0s;
}

.inpForm:focus{
    box-shadow: 3px 5px 6px rgba(54, 92, 154, 0.514);
}

.btnForm{
    padding: 5px;
    color: #365C9A;
    font-weight: 600;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
}

#container-mapa{
    position: relative;
    left: 0;
    padding: 0;
}

#linha-mapa{
    height: auto;
}

#mapa{
    height: auto;
}

/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/
@font-face {
    font-family: Verdana4;
    src:url(Fontes/verdana.ttf);
}

*{
    font-family: Verdana4, Arial, sans-serif;
}

.navbar-nav > li > a{
    font-family: 'Roboto Slab', serif;
}

.titulo_secoes{
    text-align: center;
    font-weight: 50;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color:#365C9A;
    text-transform: uppercase;
}

.titulo_secoes::after{
    margin: 1px auto;
    height: 3px;
    width: 100px;
    content: " ";
    display: block;
    background-color: #365C9A;
    border-radius: 6px;
}

.titulo_secoes_tema{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 50;
    font-size: 36px;
    color:#FFFFFF;
    text-transform: uppercase;
}

.titulo_secoes_tema::after{
    margin: 1px auto;
    height: 3px;
    width: 100px;
    content: " ";
    display: block;
    background-color: #FFFFFF;
    border-radius: 6px;
}

/* Produtos */
.cardProdutosDescricao h4, #cardProdutosVerMaisDescricao h4{
    color: #000000;
}

.texto {
    /* font-size: 14pt; */
    /* color: rgb(26, 26, 26); */
    text-align: center;
}

#vermais{
    font-size: 14pt;
    color: #365C9A;
    text-align: justify;
}

#vermais:hover{
    color: #7ac1ed;
    text-decoration: none;
    transition: 0.15s linear;
    cursor: pointer;
}

/* Contato */

#mande_mensagem h3, .subTituloSobre{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 33px;
    font-weight: 600;
    color: rgb(41, 70, 117);
}


.subTituloSobre{
    color: #f8aa00;
}

#contate-nos{
    /* border-radius: .5rem; */
}


#contate-nos h3{
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.nomeProdutoInterno{
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #000000;
    padding-top: 1rem !important;
}

.descricaoProduto a{
    color: #000000;
    text-decoration: underline;
}

.descricaoProduto a:hover{
    color: #000000;
    text-decoration: underline;
}

.descricaoProduto a:visited{
    color: #000000;
    text-decoration: underline;
}

  #inputcustom:hover{
    background-color:rgb(45, 111, 218);
  }
.nomeServicos{
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: rgb(41, 70, 117);
    text-transform: uppercase;
}

.info-contatenos span{
    font-size: 16px;
    text-align: justify;
    display: block;
    padding: 0;
    float: left;
    color:  rgb(53, 51, 51);
}

.txtForm{
    color: rgb(6, 30, 68);
    font-weight: 600;
    font-size: 18px;
}
/*--------------------------------------------------------------------*/
/*------------------------ imagem fornecedores/parceiros --------------------------------*/

.img_patro-forne{
    opacity: 0.5 ;
    transition: 0.5s ; 
    object-fit: cover ;
    max-width: 110px;
    height: auto;
    border-radius: 20px ; 
}

.img_patro-forne:hover{
    opacity: 1.0;
    transition: 0.5s ; 
}

@media only screen and (max-width: 800px) {
   
    .img_patro-forne{
        max-width: 100px;
        height: auto ;
        opacity: 1 ;
        transition: 0.5s ; 
        margin: 4px ;
    }
    
  }


  @media only screen and (max-width: 500px) {
   
    .img_patro-forne{
        max-width: 75px;
        height: auto ;
        opacity: 1 ;
        transition: 0.5s ; 
        margin: 2px ;
    }
    
  }
  /*--------------------------------------------------------------------*/
/*------------------------ input file estilização --------------------------------*/

.jfilestyle{display:inline-block;margin:0 0 10px;padding:0;position:relative;border-collapse:separate}div.jfilestyle input,div.jfilestyle label{padding:10px 15px;line-height:normal;font-size:14px;vertical-align:middle;font-family:sans-serif}div.jfilestyle input{border:2px solid #365C9A;background:#d9d9d9;margin:0 -5px 0 0;border-bottom-right-radius:5px; border-top-right-radius: 5px;color:#818181;cursor:default}div.jfilestyle label{display:inline-block; border:2px solid #365C9A ;background:#365C9A;color:white;text-align:center;margin:0;width:auto;border-top-left-radius:5px;border-bottom-left-radius:5px ;font-weight:400}div.jfilestyle.jfilestyle-corner input:last-child,div.jfilestyle.jfilestyle-corner label:last-child{margin-left:-1px}div.jfilestyle label[disabled]{pointer-events:none;opacity:.6;filter:alpha(opacity=65);cursor:not-allowed}div.jfilestyle label:hover{cursor:pointer;opacity:.9}div.jfilestyle .count-jfilestyle{background:#303030;color:#fff;border-radius:50%;padding:1px 5px;font-size:12px;vertical-align:middle}div.jfilestyle.jfilestyle-theme-blue label{border-color:#438eff;background:#438eff;color:#fff}div.jfilestyle.jfilestyle-theme-green label{border-color:#18a063;background:#18a063;color:#fff}div.jfilestyle.jfilestyle-theme-yellow label{border-color:#e8c821;background:#e8c821;color:#fff}div.jfilestyle.jfilestyle-theme-black label{border-color:#424242;background:#424242;color:#fff}div.jfilestyle.jfilestyle-theme-red label{border-color:#f33f3f;background:#f33f3f;color:#fff}div.jfilestyle.jfilestyle-theme-purple label{border-color:#873aff;background:#873aff;color:#fff}div.jfilestyle.jfilestyle-theme-asphalt label{border-color:#435673;background:#435673;color:#fff}