/*--------------------conteudo do slider (inteiro) e responsividade do slider atraves das imagens --------- ---------------------*/
/*---------------------------------------------------------------------------------------*/
.Conteudo_slider{
    margin-top: 30px ;
    max-width: 500px ;
}
@media screen and (max-width: 985px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 700px ;
    }
    .rg-image{
        min-height: 250px !important;
        min-width: 450px  !important;
    }
    .rg-image img{
        height: 300px !important;
    }
}
@media screen and (max-width:760px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 500px ;
    }
    .rg-image{
        min-height: 150px !important;
        min-width: 200px !important;
    }
    .rg-image img{
        height: 200px !important;
    }

}
@media screen and (max-width: 600px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 455px ;
    }
    .rg-image{
        min-height: 175px !important;
        min-width: 300px !important;
    }
    .rg-image img{
        height: 175px !important;
    }
}
@media screen and (max-width: 490px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 375px ;
    }
    .rg-image{
        min-height: 150px !important;
        min-width: 200px !important;
    }
    .rg-image img{
        height: 150px !important;
    }
}
@media screen and (max-width: 435px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 340px ;
    }
    .rg-image{
        min-height: 135px !important;
        min-width: 200px !important;
    }
    .rg-image img{
        height: 135px !important;
    }
}
@media screen and (max-width: 380px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 310px ;
    }
    .rg-image{
        min-height: 135px !important;
        min-width: 120px !important;
    }
    .rg-image img{
        height: 135px !important;
    }
}
@media screen and (max-width: 340px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 280px ;
    }
    .rg-image{
        min-height: 125px !important;
        min-width: 100px !important;
    }
    .rg-image img{
        height: 125px !important;
    }
}
@media screen and (max-width: 300px){
    .Conteudo_slider{
        margin-top: 0px ;
        max-width: 230px ;
    }
    .rg-image{
        min-height: 100px !important;
        min-width: 100px !important;
    }
    .rg-image img{
        height: 100px !important;
    }
}
/*------------------------------------------------------------------------------------------------------------------------------*/
/*--------- estrutura de card rolável do texto , cor da caixa de texto e margem do botão(cor também) ---------------------------*/
.caixa_card_texto{
    overflow-y: auto !important;
    overflow-x: auto !important;
    display: block !important;
    max-height: 450px !important ;
}
@media screen and (max-width: 435px){
    .caixa_card_texto{
        max-height: 200px !important ;
    }
}
.caixa_texto{
    background-color: rgba(55, 110, 199, 0.521);
    border-radius: 20px ; 
}
@media screen and (min-width: 967px){
    .caixa_texto{
       min-width: 550px ;
       min-height: 450pX ;
    }
}
.btn.btn-primary{
    background-color: #365C9A !important ;
    border-color: #365C9A !important ; 
}
.btn.btn-primary:hover{
    background-color: rgb(55, 107, 190) !important ;
    border-color: #365C9A !important ; 
}
.btn-link{
 font-style: none !important; 
}
*::-webkit-scrollbar-track {
    background-color: rgba(54, 92, 154, 0.589);
}
*::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
*::-webkit-scrollbar-thumb {
    background-color: #365C9A;
    border-radius: 4px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Tipografia / texto / responsividade ------------------------------------------*/
.card-text{
    text-align: justify;
    font-size: 15px ;
}
@media screen and (max-width: 1100px){
    .card-text{
        text-align: justify;
        font-size: 13px ;
    }
}
@media screen and (max-width: 850px){
    .card-text{
        text-align: justify;
        font-size: 12px ;
    }
}
@media screen and (max-width: 600px){
    .card-text{
        text-align: justify;
        font-size: 11px ;
    }
}
/*------------------------------------------------#style(.rg)#--------------------------------------------------------------*/
/*----------------------------------  parte reduzida do Slider (Slider miniaturas) ----------------------------------------*/
.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
    background: transparent ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	text-align:center;
	line-height:0px;
	min-height: 250px ;
}
.rg-image img{
	height: 260px;
    border-radius: 10px ;
    object-fit: contain;
    max-width:100% !important;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#365C9A url(../img/Slider/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:1;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#365C9A url(../img/Slider/views.png) no-repeat top left;
	border:3px solid #365C9A;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#365C9A;
	border-color:#365C9A;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:rgba(54, 92, 154, 0.596) url(../img/Slider/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
/*-------------------------------------------#Elastislide Style(.es)#-----------------------------------------------------*/
/*--------------------------------------  parte ampliada do Slider (Slider grande unico) --------------------------------*/
.lista_imagens{
    white-space: nowrap;
    display: inline-block ;
    padding: 0 ;
}
.lista_imagens>li{
    display: inline-block  !important;
    padding: 0 ;
}
.es-carousel-wrapper{
	background: #365C9A;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
    overflow:hidden;
    white-space: nowrap;
	background:#365C9A;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:rgba(54, 92, 154, 0);
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:rgb(0, 0, 0);
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../img/Slider/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}