/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/

.img_prod2{
    height:200px;
    width: 200px;
}

.card:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.425);
}

/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/