/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/


.img_ser{
    width: 100%;
    height: 350px;
}

#secaoServicos{
    margin: 180px;
}
/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/