/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/
body,html{
    width: 100%;
    height: 100%;
}

*::-webkit-scrollbar-track {
    background-color: rgba(54, 92, 154, 0.589);
}

*::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

*::-webkit-scrollbar-thumb {
    background-color: #365C9A;
    border-radius: 4px;
}

/*-------------------------*/
/*----- Tela de Login -----*/
body{
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    background:linear-gradient(45deg,white,rgba(211, 211, 211, 0.61),white);
}

#cardLogin{
    width: 450px;
    height: 450px;
    margin: 8% auto;
    background-color: #365C9A;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 3px 5px 7px rgb(163, 162, 162);

}

#cardLogin form{
    width: 80%;
    margin: auto auto;
}

#cardLogin form img{
    width: 60%;
    margin: auto;
}

/*-----------------------*/
/*----- Gerenciador -----*/
#menu-lateral{
    overflow-x: auto;
    height: 100%;
    position: absolute;
    padding-right: 0px;
    padding-left: 0px;
    top:0;
    bottom: 0;
    left: 0;
    background-color: #365C9A;
    flex-wrap: nowrap;
}

#usuarioSistema{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px groove rgb(46, 87, 155);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.288);
}

#menuSistema{
    padding-top: 15px;
    width: 100%;

}

#menuSistema ul{
    padding: 0px;
}

.itemMenuSistema{
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    color: rgb(219, 219, 219);
    border-bottom: 1px groove gray;
    transition: padding-left 0.5s ease 0s, text-shadow 0.5s ease 0s, border-bottom 0.5s ease 0s;
}

.itemMenuSistema:hover{
    padding-left: 25px;
    color: white!important;
    text-shadow: 2px 2px 7px rgb(231, 231, 231);
    border-bottom: 1px groove lightgray;
    cursor: pointer;
}

.itemMenuSistemaAtivo{
    padding-left: 25px;
    color: white!important;
    text-shadow: 2px 2px 7px rgb(231, 231, 231);
}

.itemMenuSistema img{
    height: 20px;
}

#painelSistema{
    overflow-x: auto;
    height: 100%;
    position: absolute;
    text-align: justify;
    top:0;
    bottom: 0;
    right: 0;
    padding-top: 20px;
    flex-wrap: nowrap;
}

thead{
    background-color: rgb(8, 21, 43);
    color: white;
}

/*----------------------------*/
/*----- Abas Gerenciador -----*/


/*----- Newsletter -----*/
ul.nav-tabs{
    border-bottom: 1px solid rgb(64, 111, 187);
}

li.nav-item a.nav-link{
    background: transparent;
    border:1px solid transparent;
    color: rgb(64, 111, 187);
    transition: border 0.15s linear 0s,background-color 0.15s linear 0s, color 0.15s linear 0s, text-shadow 0.15s linear 0s;
}

li.nav-item a.nav-link:hover{
    border: 1px solid rgb(64, 111, 187);
}

li.nav-item a.nav-link.active{
    background-color: rgb(64, 111, 187);
    border: 1px solid rgb(64, 111, 187);
    color: white;
    text-shadow: 2px 2px 2px black;
}

.botaoEmail i{
    width: 15px;
    height: 10px;
}

.inpFormRadio{
    padding: 5px;
    border: none;
    border: 2px solid #365C9A;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.25s ease 0s;
}

.inpFormRadio:focus{
    box-shadow: 3px 5px 6px rgba(54, 92, 154, 0.514);
}

#preview{
    border-left: 1px solid gray;
    background-color: rgb(219, 218, 218);
}


/*----- Mensagens -----*/
#corpoModal{
    padding: 35px;
}

#corpoModal span{
    font-size: 23px;
    font-weight: 600;
    color: rgb(41, 70, 117);
}

#corpoModal label{
    font-size: 21px;
    font-weight: 400;
    color: rgb(20, 38, 68);
}

.btnAdiciona{
    display: none!important;
}

.btnAtivo{
    display: block!important;
}

/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/
@font-face {
    font-family: Verdana4;
    src:url(Fontes/verdana.ttf);
}

*{
    font-family: Verdana4, Arial, sans-serif;
}

#usuarioSistema h3{
    color: white;
    font-weight: 800;
}

#usuarioSistema h3::after{
    margin: 5px auto;
    height: 3px;
    width: 120px;
    content: "";
    display: block;
    background-color: white;
    border-radius: 6px;
}

#usuarioSistema h4{
    color: white;
    font-weight: 500;
}

.itemMenuSistema{
    font-size: 27px;
}

li.nav-item a.nav-link{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 19px;
}

#listaEmails p{
    text-align: justify;
}

.inpForm{
    background-color: white;
}