/*--------------------------------------------------------------------*/
/*------------------------ Layout ------------------------------------*/

.img_ser
{
    width: 100%;
    height: auto;
}

#secaoServicos
{
    margin: 180px;
}

.card:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.425);
}
/*--------------------------------------------------------------------*/
/*------------------------ Tipografia --------------------------------*/